{% extends 'base.html' %}
{% load static %}

{% block title %}
Ricci.DEV | Potfolio
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/list.css' %}">
{% endblock head %}


{% block body %}
<div class="container">
    <div class="list-container">
        <div class="list-item detail">
            <div class="list-cover">
                <picture>
                    <img src="{{ portfolio.cover.url }}" alt="{{ portfolio.title }}">
                </picture>
            </div>
            <div class="list-body">
                <div class="list-description">
                    <h3 class="title">{{ portfolio.title }}</h3>
                    <p>{{ portfolio.description }}</p>
                </div>
                <div class="list-category">
                    <h5 class="title">Tecnologia utilizada:</h5>
                    <div class="list-container">
                        {% for tech in tech  %}
                            <p>{{ tech.name }}</p>
                        {% endfor %}
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}