{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Ricci.DEV | Contact
{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/css/forms.css' %}">
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md p-4">
            {% include 'partials/messages.html' %} 
        </div>
    </div> 
</div>
<div class="container-form">
    {% crispy form %}
</div>
{% endblock body %}

{% block script %}
    <script src="{% static 'contact/js/messages/alert.js' %}"></script>
{% endblock script %}    